<div class="container">
  <h1>MBS Jobs Admin Interface</h1>

  <section>
    <h2>Modify Tracking Code</h2>

    <form ng-submit="admin.submitCode()">
      <div class="form-group">
        <label for="code_{{::$id}}">Tracking Code:</label>
        <p id="code_desc_{{::$id}}">Include &lt;script&gt;&lt;/script&gt; tags.</p>
        <textarea id="code_{{::$id}}" aria-describedby="code_desc_{{::$id}}" ng-model="admin.code"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>

  </section>

  <section>
    <h2>All Searches</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Search Term</th>
          <th scope="col">Zip Code</th>
          <th scope="col">IP Address</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="search in admin.searches">
          <td>{{search.date|date:'short'}}</td>
          <td>{{search.keyword}}</td>
          <td>{{search.zipCode}}</td>
          <td>{{search.ipAddress}}</td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
