<form class="form-inline" ng-submit="vm.submit()">
  <div class="form-group">
    <label for="keyword_{{::$id}}">Key Words:</label>
    <input type="text" class="form-control" id="keyword_{{::$id}}" ng-model="vm.keyword" placeholder="e.g., JavaScript">
  </div>
  <div class="form-group">
    <label for="zip_code_{{::$id}}">Zip Code:</label>
    <input type="text" class="form-control" id="zip_code_{{::$id}}" ng-model="vm.zipCode" placeholder="e.g., 78712">
  </div>
  <button type="submit" class="btn btn-default">Search jobs</button>
</form>
