<section class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Search Results</h1>
    </div>
    <div class="col-md-8">
      <mbs-search-form keyword="vm.keyword" zip-code="vm.zipCode"></mbs-search-form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>Search results for keyword=<strong>{{vm.searchedKeyword}}</strong> and zip code=<strong>{{vm.searchedZipCode}}</strong></p>
    </div>
  </div>

  <div class="row" ng-repeat="job in vm.jobs.results">
    <article class="col-xs-12">
      <a ng-href="{{job.url}}" ng-mousedown="job.onmousedown"><h2>{{job.jobtitle}}</h2></a>
      <p>{{job.source}}&nbsp;{{job.formattedLocation}}</p>
      <p>Posted: {{job.date}}</p>
      <p ng-bind-html="job.snippet"></p>
    </article>
  </div>

  <nav>
    <ul class="pagination">
      <li ng-class="{ disabled: vm.page === vm.pageRange[0] }">
        <a ui-sref="search({ keyword: vm.keyword, zipCode: vm.zipCode, start: (vm.start - vm.limit), limit: vm.limit })" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-class="{ active: page === vm.page }" ng-repeat="page in vm.pageRange"><a ui-sref="search({ keyword: vm.keyword, zipCode: vm.zipCode, start: ((page - 1) * vm.limit), limit: vm.limit })">{{page}}</a></li>
      <li ng-class="{ disabled: vm.page === vm.pageRange[vm.pageRange.length - 1] }">
        <a ui-sref="search({ keyword: vm.keyword, zipCode: vm.zipCode, start: (vm.start + vm.limit), limit: vm.limit })" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search"><img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job search"></a></span>

</section>


